<form class="form-bg-color border">
    <div class="login-heading-text">
        <h3 class="h3 mb-0"> Beneficiary Bank Account!</h3>
        <p class="bb-dashed mb-4 pb-3">Enter beneficiary account details like their name and bank branch and name, bank account number and etc.
        </p>
    </div>
    
    <div class="min-height">
        <div class="mt-4"></div>
        <fieldset>
            <legend>Beneficiary Bank Account:</legend>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div>
                        <label for="email" class="mb-2 mt-2">Bank Country Code <span
                                class="text-danger">*</span></label>
                                <input class="text-sm py-3 px-6 w-100 mb-2" type="email" placeholder="SBIN"
                                id="firstname">
                        <!---->
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div>
                        <label for="email" class="mb-2 mt-2">Check Digits <span
                                class="text-danger">*</span></label>
                                <input class="text-sm py-3 px-6 w-100 mb-2" type="email" placeholder="SBIN"
                                id="firstname">
                        <!---->
                    </div>
                </div>
           
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                    <div>
                        <label for="email" class="mb-2 mt-2">IBan <span
                                class="text-danger">*</span></label>
                                <input class="text-sm py-3 px-6 w-100 mb-2" type="email" placeholder="SBIN"
                                id="firstname">
                        <!---->
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                    <div>
                        <label for="email" class="mb-2 mt-2">Bic <span
                                class="text-danger">*</span></label>
                                <input class="text-sm py-3 px-6 w-100 mb-2" type="email" placeholder="SBIN"
                                id="firstname">
                        <!---->
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                    <div>
                        <label for="email" class="mb-2 mt-2">Bban <span
                                class="text-danger">*</span></label>
                                <input class="text-sm py-3 px-6 w-100 mb-2" type="email" placeholder="SBIN"
                                id="firstname">
                        <!---->
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                    <div>
                        <label for="email" class="mb-2 mt-2">Account Identifier <span
                                class="text-danger">*</span></label>
                                <input class="text-sm py-3 px-6 w-100 mb-2" type="email" placeholder="SBIN"
                                id="firstname">
                        <!---->
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                    <div>
                        <label for="email" class="mb-0 mt-3">Branch Identifier <span
                                class="text-danger">*</span></label>
                                <input class="text-sm py-3 px-6 w-100 mb-2" type="email" placeholder="SBIN"
                                id="firstname">
                        <!---->
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                    <div>
                        <label for="email" class="mb-2 mt-2">Bank Identifier <span
                                class="text-danger">*</span></label>
                                <input class="text-sm py-3 px-6 w-100 mb-2" type="email" placeholder="SBIN"
                                id="firstname">
                        <!---->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                    <div>
                        <label for="email" class="mb-2 mt-2">Capabilities <span
                                class="text-danger">*</span></label>
                                <div class="position-relative">
                                    <div
                                        class="d-flex align-items-center justify-content-between py-3 px-6 w-100 mb-1 select cursor-pointer">
                                        <div>Capabilities</div>
                                        <i class='bx bx-chevron-down text-sm-icon duration-300'></i>
                                        <!-- rotate-180 -->
                                    </div>
                                    <ul
                                        class="invisible opacity-0 scale-0 position-absolute flex-col duration-300 z-20 bg-white w-100 ps-0 max-h-40 rounded-md top-full right-0">
                                        <li
                                            class="duration-300 text-sm px-3 py-2 bg-green rounded-md cursor-pointer">
                                            Afghanistan</li>
                                        <li class="duration-300 text-sm px-3 py-2 cursor-pointer">Albania</li>
                                        <li class="duration-300 text-sm px-3 py-2 cursor-pointer">Algeria</li>
                                        <li class="duration-300 text-sm px-3 py-2 cursor-pointer">American Samoa
                                        </li>
                                        <li class="duration-300 text-sm px-3 py-2 cursor-pointer">Andorra</li>
                                        <li class="duration-300 text-sm px-3 py-2 cursor-pointer">Angola</li>
                                    </ul>
                                </div>
                               
                        <!---->
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                    <div>
                        <label for="email" class="mb-0 mt-3">Currency ISO Code <span
                                class="text-danger">*</span></label>
                                <div class="position-relative">
                                    <div
                                        class="d-flex align-items-center justify-content-between py-3 px-6 w-100 mb-1 select cursor-pointer">
                                        <div>Currency ISO Code</div>
                                        <i class='bx bx-chevron-down text-sm-icon duration-300'></i>
                                        <!-- rotate-180 -->
                                    </div>
                                    <ul
                                        class="invisible opacity-0 scale-0 position-absolute flex-col duration-300 z-20 bg-white w-100 ps-0 max-h-40 rounded-md top-full right-0">
                                        <li
                                            class="duration-300 text-sm px-3 py-2 bg-green rounded-md cursor-pointer">
                                            Afghanistan</li>
                                        <li class="duration-300 text-sm px-3 py-2 cursor-pointer">Albania</li>
                                        <li class="duration-300 text-sm px-3 py-2 cursor-pointer">Algeria</li>
                                        <li class="duration-300 text-sm px-3 py-2 cursor-pointer">American Samoa
                                        </li>
                                        <li class="duration-300 text-sm px-3 py-2 cursor-pointer">Andorra</li>
                                        <li class="duration-300 text-sm px-3 py-2 cursor-pointer">Angola</li>
                                    </ul>
                                </div>
                               
                        <!---->
                    </div>
                </div>
          
            </div>
        </fieldset>
        <div class="mt-5"></div>
        <fieldset>
            <legend>Bank Name Info :</legend>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div>
                        <label for="email" class="mb-2 mt-2">Bank Name <span
                                class="text-danger">*</span></label>
                                <input class="text-sm py-3 px-6 w-100 mb-2" type="email" placeholder="State Bank of India"
                                id="firstname">
                        <!---->
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="mt-5"></div>
        <fieldset>
            <legend>Bank Address Info:</legend>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div>
                        <label for="email" class="mb-2 mt-2">House Name/Number <span
                                class="text-danger">*</span></label>
                        <textarea class="w-100 mb-2 py-3 px-6"
                            placeholder="Akshya Nagar 1st Block 1st Cross, Rammurthy nagar, Bangalore-560016"
                            rows="6"></textarea>

                        <!---->
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <label for="email" class="mb-2 mt-2">City <span class="text-danger">*</span></label>
                    <input class="text-sm py-3 px-6 w-100 mb-3" type="email" placeholder="Bangalore"
                        id="firstname">
                    <label for="email" class="mb-2 mt-2">State/Province <span
                            class="text-danger">*</span></label>
                    <input class="text-sm py-3 px-6 w-100 mb-2" type="email" placeholder="Bangalore"
                        id="firstname">
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div>
                        <label for="email" class="mb-2 mt-2">Zip/Postal Code  <span
                                class="text-danger">*</span></label>
                        <input class="text-sm py-3 px-6 w-100 mb-2" type="email" placeholder="560016"
                            id="firstname">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <label for="email" class="mb-2 mt-2">Country<span
                            class="text-danger">*</span></label>
                    <select class="text-sm py-3 px-6 w-100 mb-2">
                        <option selected>India</option>
                    </select>
                </div>
            </div>
        </fieldset>
        <div class="d-flex align-items-center justify-content-center mt-4 gap-3">
            <button type="submit" class="btn">Proceeds to open a account </button>
            <button type="submit" class="btn btn-outline">Cancel</button>
        </div>
    </div>
</form>

