<form class="form-bg-color border">
    <div class="login-heading-text">
        <h3 class="h3 mb-0">Beneficiary Personal Details!</h3>
        <p class="bb-dashed mb-4 pb-3">Easily open your account online with a quick and simple process.
        </p>
    </div>
    
    <div class="min-height">
        <div class="mt-4"></div>
        <fieldset>
            <legend>Nationality & Currency Info:</legend>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div>
                        <label for="email" class="mb-2 mt-2">Nationality Country Code <span
                                class="text-danger">*</span></label>
                        <div class="position-relative">
                            <div
                                class="d-flex align-items-center justify-content-between py-3 px-6 w-100 mb-1 select cursor-pointer">
                                <div>Afghanistan</div>
                                <i class='bx bx-chevron-down text-sm-icon duration-300'></i>
                                <!-- rotate-180 -->
                            </div>
                            <ul
                                class="invisible opacity-0 scale-0 position-absolute flex-col duration-300 z-20 bg-white w-100 ps-0 max-h-40 rounded-md top-full right-0">
                                <li
                                    class="duration-300 text-sm px-3 py-2 bg-green rounded-md cursor-pointer">
                                    Afghanistan</li>
                                <li class="duration-300 text-sm px-3 py-2 cursor-pointer">Albania</li>
                                <li class="duration-300 text-sm px-3 py-2 cursor-pointer">Algeria</li>
                                <li class="duration-300 text-sm px-3 py-2 cursor-pointer">American Samoa
                                </li>
                                <li class="duration-300 text-sm px-3 py-2 cursor-pointer">Andorra</li>
                                <li class="duration-300 text-sm px-3 py-2 cursor-pointer">Angola</li>
                            </ul>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div>
                        <label for="email" class="mb-2 mt-2">Select Currency <span
                                class="text-danger">*</span></label>

                          <div class="position-relative">
                            <div
                                class="d-flex align-items-center justify-content-between py-3 px-6 w-100 mb-1 select cursor-pointer">
                                <div>EUR</div>
                                <i class='bx bx-chevron-down text-sm-icon duration-300'></i>
                                <!-- rotate-180 -->
                            </div>
                            <ul
                                class="invisible opacity-0 scale-0 position-absolute flex-col duration-300 z-20 bg-white w-100 ps-0 max-h-40 rounded-md top-full right-0">
                                <li
                                    class="duration-300 text-sm px-3 py-2 bg-green rounded-md cursor-pointer">
                                    EUR</li>
                                <li class="duration-300 text-sm px-3 py-2 cursor-pointer">GBP</li>
                                
                            </ul>
                        </div>
                        <!---->
                    </div>
                </div>

            </div>
        </fieldset>
        <div class="mt-5"></div>
        <fieldset>
            <legend>Personal Info:</legend>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div>
                        <label for="email" class="mb-2 mt-2">Name <span
                                class="text-danger">*</span></label>
                        <input class="text-sm py-3 px-6 w-100 mb-2" type="email"
                            placeholder="jhon deo" id="firstname">
                        <!---->
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <label for="email" class="mb-2 mt-2">Date of Birth <span
                            class="text-danger">*</span></label>
                            <input class="text-sm py-3 px-6 w-100 mb-2" type="date"
                            placeholder="18/12/1988" id="firstname">
                </div>
            </div>
        </fieldset>
        <div class="mt-5"></div>
        <fieldset>
            <legend>Contact Info:</legend>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div>
                        <label for="email" class="mb-2 mt-2">Email Id  <span
                                class="text-danger">*</span></label>
                        <input class="text-sm py-3 px-6 w-100 mb-2" type="email" placeholder="jhon.deo@gmail.com"
                            id="firstname">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <label for="email" class="mb-2 mt-2">Phone Number <span
                        class="text-danger">*</span></label>
                <div class="position-relative">
                    <input class="text-sm py-3 px-6 px-7 w-100 mb-2" type="text"
                        placeholder="9999999999" id="name">
                    <span class="position-absolute phone-no">+91</span>
                </div>
                </div>
            </div>
        </fieldset>
        <div class="mt-5"></div>
        <fieldset>
            <legend>Receiving Info:</legend>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div>
                        <label for="email" class="mb-2 mt-2">Receiving Country  <span
                                class="text-danger">*</span></label>
                                <div class="position-relative">
                                    <div
                                        class="d-flex align-items-center justify-content-between py-3 px-6 w-100 mb-1 select cursor-pointer">
                                        <div>Afghanistan</div>
                                        <i class='bx bx-chevron-down text-sm-icon duration-300'></i>
                                        <!-- rotate-180 -->
                                    </div>
                                    <ul
                                    class="invisible opacity-0 scale-0 position-absolute flex-col duration-300 z-20 bg-white w-100 ps-0 max-h-40 rounded-md top-full right-0">
                                    <li
                                        class="duration-300 text-sm px-3 py-2 bg-green rounded-md cursor-pointer">
                                        Afghanistan</li>
                                    <li class="duration-300 text-sm px-3 py-2 cursor-pointer">Albania</li>
                                    <li class="duration-300 text-sm px-3 py-2 cursor-pointer">Algeria</li>
                                    <li class="duration-300 text-sm px-3 py-2 cursor-pointer">American Samoa
                                    </li>
                                    <li class="duration-300 text-sm px-3 py-2 cursor-pointer">Andorra</li>
                                    <li class="duration-300 text-sm px-3 py-2 cursor-pointer">Angola</li>
                                </ul>
                                </div>
                       
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <label for="email" class="mb-2 mt-2">Reference  <span
                        class="text-danger">*</span></label>
                        <input class="text-sm py-3 px-6 w-100 mb-2" type="email" placeholder="Reference "
                        id="firstname">
                </div>
            </div>
        </fieldset>
     
  
        <div class="d-flex align-items-center justify-content-center mt-4 gap-3">
            <button type="submit" class="btn">Proceeds to open a account </button>
            <button type="submit" class="btn btn-outline">Cancel</button>

        </div>
    </div>

</form>

