<div class="main-inner">
    <div class="d-flex flex-wrap align-items-center justify-content-between gap-3 mb-8">
        <div>
            <h2 class="mb-0">Account Details</h2>
        </div>
        <div> <button class="btn mt-2 mb-3"><i class='bx bx-add-to-queue'></i> Open an Account</button></div>
    </div>
    <div class="row">
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
            <div class="box p-3">
                <div class="d-flex align-items-center justify-content-between">
                    <h3 class="text-lg mb-0">Your Accounts Details </h3>
                </div>
                <hr>
                <div class="table-responsive">
                    <table class="w-100">
                        <thead>
                            <tr>
                                <th class="py-6 px-6 text-text">Currency</th>
                                <th class="py-6 px-6 text-text">Account Number</th>
                                <th class="py-6 px-6 text-text">Account Balance</th>
                                <th class="py-6 px-6 text-text">BBAN Number</th>
                                <th class="py-6 px-6 text-text">Branch Identifier</th>
                                <th class="py-6 px-6 text-text">Bank Identifier</th>
                                <th class="py-6 px-6 text-text">Status</th>
                                <th class="py-6 px-6 text-text">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="py-6 px-6">
                                    <div class="d-flex align-items-center gap-3">
                                        <img src="assets/images/jp-sm.png" width="32" height="32" class="rounded-circle"
                                            alt="payment medium icon">
                                        <div>
                                            <p class="text-text mb-0 fw-normal">EUR</p>
                                            <span class="small-text">Europe</span>

                                        </div>
                                    </div>
                                </td>
                                <td class="py-6 px-6">
                                    <p class="text-text mb-0 fw-normal">LT573670000000009859</p>
                                    <span class="small-text">IBAN Number</span>
                                </td>
                                <td class="py-6 px-6">
                                    <p class="text-text mb-0 text">$80,700.00</p>
                                    <span class="small-text">Account Balance</span>
                                </td>
                                <td class="py-6 px-6">
                                    <p class="text-text mb-0 fw-normal">3670000000009859</p>
                                    <span class="small-text">BBAN Number</span>
                                </td>
                                <td class="py-6 px-6">
                                    <p class="text-text mb-0 fw-normal">36700</p>
                                    <span class="small-text">Branch Identifier</span>
                                </td>
                                <td class="py-6 px-6">
                                    <p class="text-text mb-0 fw-normal">UAPL</p>
                                    <span class="small-text">Bank Identifier</span>
                                </td>
                                <td class="py-6 px-6"><span class="badge reject">Reject</span></td>
                                <td class="py-6 px-6 text-center">
                                    <i class='bx bx-dots-vertical dots-icon'></i>
                                </td>
                            </tr>
                            <tr>
                                <td class="py-6 px-6">
                                    <div class="d-flex align-items-center gap-3">
                                        <img src="assets/images/usa-sm.png" width="32" height="32"
                                            class="rounded-circle" alt="payment medium icon">
                                        <div>
                                            <p class="text-text mb-0 fw-normal">EUR</p>
                                            <span class="small-text">Europe</span>

                                        </div>
                                    </div>
                                </td>
                                <td class="py-6 px-6">
                                    <p class="text-text mb-0 fw-normal">LT573670000000009859</p>
                                    <span class="small-text">IBAN Number</span>
                                </td>
                                <td class="py-6 px-6">
                                    <p class="text-text mb-0 text">$80,700.00</p>
                                    <span class="small-text">Account Balance</span>
                                </td>
                                <td class="py-6 px-6">
                                    <p class="text-text mb-0 fw-normal">3670000000009859</p>
                                    <span class="small-text">BBAN Number</span>
                                </td>
                                <td class="py-6 px-6">
                                    <p class="text-text mb-0 fw-normal">36700</p>
                                    <span class="small-text">Branch Identifier</span>
                                </td>
                                <td class="py-6 px-6">
                                    <p class="text-text mb-0 fw-normal">UAPL</p>
                                    <span class="small-text">Bank Identifier</span>
                                </td>
                                <td class="py-6 px-6"><span class="badge pending">Pending</span></td>
                                <td class="py-6 px-6 text-center">
                                    <i class='bx bx-dots-vertical dots-icon'></i>
                                </td>
                            </tr>
                            <tr>
                                <td class="py-6 px-6">
                                    <div class="d-flex align-items-center gap-3">
                                        <img src="assets/images/uk-sm.png" width="32" height="32" class="rounded-circle"
                                            alt="payment medium icon">
                                        <div>
                                            <p class="text-text mb-0 fw-normal">EUR</p>
                                            <span class="small-text">Europe</span>

                                        </div>
                                    </div>
                                </td>
                                <td class="py-6 px-6">
                                    <p class="text-text mb-0 fw-normal">LT573670000000009859</p>
                                    <span class="small-text">IBAN Number</span>
                                </td>
                                <td class="py-6 px-6">
                                    <p class="text-text mb-0 text">$80,700.00</p>
                                    <span class="small-text">Account Balance</span>
                                </td>
                                <td class="py-6 px-6">
                                    <p class="text-text mb-0 fw-normal">3670000000009859</p>
                                    <span class="small-text">BBAN Number</span>
                                </td>
                                <td class="py-6 px-6">
                                    <p class="text-text mb-0 fw-normal">36700</p>
                                    <span class="small-text">Branch Identifier</span>
                                </td>
                                <td class="py-6 px-6">
                                    <p class="text-text mb-0 fw-normal">UAPL</p>
                                    <span class="small-text">Bank Identifier</span>
                                </td>
                                <td class="py-6 px-6">
                                    <span class="badge active">Active</span>
                                </td>
                                <td class="py-6 px-6 text-center">
                                    <i class='bx bx-dots-vertical dots-icon'></i>
                                </td>
                            </tr>
                            <tr>
                                <td class="py-6 px-6">
                                    <div class="d-flex align-items-center gap-3">
                                        <img src="assets/images/cn-sm.png" width="32" height="32" class="rounded-circle"
                                            alt="payment medium icon">
                                        <div>
                                            <p class="text-text mb-0 fw-normal">EUR</p>
                                            <span class="small-text">Europe</span>

                                        </div>
                                    </div>
                                </td>
                                <td class="py-6 px-6">
                                    <p class="text-text mb-0 fw-normal">LT573670000000009859</p>
                                    <span class="small-text">IBAN Number</span>
                                </td>
                                <td class="py-6 px-6">
                                    <p class="text-text mb-0 text">$80,700.00</p>
                                    <span class="small-text">Account Balance</span>
                                </td>
                                <td class="py-6 px-6">
                                    <p class="text-text mb-0 fw-normal">3670000000009859</p>
                                    <span class="small-text">BBAN Number</span>
                                </td>
                                <td class="py-6 px-6">
                                    <p class="text-text mb-0 fw-normal">36700</p>
                                    <span class="small-text">Branch Identifier</span>
                                </td>
                                <td class="py-6 px-6">
                                    <p class="text-text mb-0 fw-normal">UAPL</p>
                                    <span class="small-text">Bank Identifier</span>
                                </td>
                                <td class="py-6 px-6"><span class="badge reject">Reject</span></td>
                                <td class="py-6 px-6 text-center"><i class="bx bx-dots-vertical dots-icon"></i></td>
                            </tr>
                            <tr>
                                <td class="py-6 px-6">
                                    <div class="d-flex align-items-center gap-3">
                                        <img src="assets/images/euro-sm.png" width="32" height="32"
                                            class="rounded-circle" alt="payment medium icon">
                                        <div>
                                            <p class="text-text mb-0 fw-normal">EUR</p>
                                            <span class="small-text">Europe</span>

                                        </div>
                                    </div>
                                </td>
                                <td class="py-6 px-6">
                                    <p class="text-text mb-0 fw-normal">LT573670000000009859</p>
                                    <span class="small-text">IBAN Number</span>
                                </td>
                                <td class="py-6 px-6">
                                    <p class="text-text mb-0 text">$80,700.00</p>
                                    <span class="small-text">Account Balance</span>
                                </td>
                                <td class="py-6 px-6">
                                    <p class="text-text mb-0 fw-normal">3670000000009859</p>
                                    <span class="small-text">BBAN Number</span>
                                </td>
                                <td class="py-6 px-6">
                                    <p class="text-text mb-0 fw-normal">36700</p>
                                    <span class="small-text">Branch Identifier</span>
                                </td>
                                <td class="py-6 px-6">
                                    <p class="text-text mb-0 fw-normal">UAPL</p>
                                    <span class="small-text">Bank Identifier</span>
                                </td>
                                <td class="py-6 px-6">
                                    <span class="badge pending">Pending</span>
                                </td>
                                <td class="py-6 px-6 text-center"><i class="bx bx-dots-vertical dots-icon"></i></td>
                            </tr>
                            <tr>
                                <td class="py-6 px-6">
                                    <div class="d-flex align-items-center gap-3">
                                        <img src="assets/images/usa-sm.png" width="32" height="32"
                                            class="rounded-circle" alt="payment medium icon">
                                        <div>
                                            <p class="text-text mb-0 fw-normal">EUR</p>
                                            <span class="small-text">Europe</span>

                                        </div>
                                    </div>
                                </td>
                                <td class="py-6 px-6">
                                    <p class="text-text mb-0 fw-normal">LT573670000000009859</p>
                                    <span class="small-text">IBAN Number</span>
                                </td>
                                <td class="py-6 px-6">
                                    <p class="text-text mb-0 text">$80,700.00</p>
                                    <span class="small-text">Account Balance</span>
                                </td>
                                <td class="py-6 px-6">
                                    <p class="text-text mb-0 fw-normal">3670000000009859</p>
                                    <span class="small-text">BBAN Number</span>
                                </td>
                                <td class="py-6 px-6">
                                    <p class="text-text mb-0 fw-normal">36700</p>
                                    <span class="small-text">Branch Identifier</span>
                                </td>
                                <td class="py-6 px-6">
                                    <p class="text-text mb-0 fw-normal">UAPL</p>
                                    <span class="small-text">Bank Identifier</span>
                                </td>
                                <td class="py-6 px-6">
                                    <span class="badge active">Active</span>
                                </td>
                                <td class="py-6 px-6 text-center">
                                    <i class='bx bx-dots-vertical dots-icon'></i>
                                </td>
                            </tr>
                            <tr>
                                <td class="py-6 px-6">
                                    <div class="d-flex align-items-center gap-3">
                                        <img src="assets/images/jp-sm.png" width="32" height="32" class="rounded-circle"
                                            alt="payment medium icon">
                                        <div>
                                            <p class="text-text mb-0 fw-normal">EUR</p>
                                            <span class="small-text">Europe</span>

                                        </div>
                                    </div>
                                </td>
                                <td class="py-6 px-6">
                                    <p class="text-text mb-0 fw-normal">LT573670000000009859</p>
                                    <span class="small-text">IBAN Number</span>
                                </td>
                                <td class="py-6 px-6">
                                    <p class="text-text mb-0 text">$80,700.00</p>
                                    <span class="small-text">Account Balance</span>
                                </td>
                                <td class="py-6 px-6">
                                    <p class="text-text mb-0 fw-normal">3670000000009859</p>
                                    <span class="small-text">BBAN Number</span>
                                </td>
                                <td class="py-6 px-6">
                                    <p class="text-text mb-0 fw-normal">36700</p>
                                    <span class="small-text">Branch Identifier</span>
                                </td>
                                <td class="py-6 px-6">
                                    <p class="text-text mb-0 fw-normal">UAPL</p>
                                    <span class="small-text">Bank Identifier</span>
                                </td>
                                <td class="py-6 px-6"><span class="badge reject">Reject</span></td>
                                <td class="py-6 px-6 text-center">
                                    <i class='bx bx-dots-vertical dots-icon'></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="d-flex align-items-center justify-content-between mt-3">
                    <div class="page-text">Showing 1 to 10 of 10 entries</div>
                    <ul class="d-flex gap-3 align-items-center ps-0 mb-0 flex-wrap">
                        <li>
                            <button
                                class="d-flex align-items-center justify-content-center duration-300 page-icon rounded-full"><i class='bx bx-chevron-left icon' ></i></button>
                        </li>
                        <li>
                            <button
                                class="d-flex align-items-center justify-content-center duration-300 page-icon rounded-full bg">1</button>
                        </li>
                        <li>
                            <button
                                class="d-flex align-items-center justify-content-center duration-300 page-icon rounded-full">2</button>
                        </li>
                        <li>
                            <button
                                class="d-flex align-items-center justify-content-center duration-300 page-icon rounded-full"><i class='bx bx-chevron-right icon' ></i></button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
            <div class="box p-3">
                <h3 class="text-lg mb-3">Cashcard Details</h3>
                <hr>
                <div class="p-4 boxcard mb-4">

                    <div class="d-flex align-items-start justify-content-between mb-5">
                        <div>
                            <p class="text-xs mb-1 text-white-color">Current Balance</p>
                            <h4 class="h4 text-white-color">80,700.00 USD</h4>
                        </div>
                        <img src="assets/images/visa-sm.png" width="45" height="16" alt="visa icon">
                    </div>
                    <div class="d-flex justify-content-between align-items-end">
                        <div>
                            <p class="mb-1 text-white-color">Felecia Brown</p>
                            <p class="text-xs text-white-color">•••• •••• •••• 8854</p>
                        </div>
                        <p class="text-n700 position-relative z-1 ">12/27</p>
                    </div>
                </div>
                <div class="d-flex flex-column gap-4 pb-4 ">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="small-text">Card Type :</div>
                        <div class="text-text">e-Card</div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="small-text">Card Holder :</div>
                        <div class="text-text">Felecia Brown</div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="small-text">Expires :</div>
                        <div class="text-text">12/27</div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="small-text">Card Number :</div>
                        <div class="text-text">325 541 565 546</div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="small-text">Total Balance :</div>
                        <div class="text-text">99,225.54 USD</div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="small-text">Total Debt :</div>
                        <div class="text-text">9,545.22 USD</div>
                    </div>
                </div>
                <hr class="mt-0">
                <h3 class="text-lg mb-3">Active Card</h3>
                <div class="p-2 active-card rounded-xl d-flex align-items-center justify-content-between gap-2 mb-4">
                    <div class="gap-3 d-flex align-items-center">
                        <div><img src="assets/images/card-sm-1.png"></div>
                        <div>
                            <p class="text-text mb-1">John Snow - Metal</p>
                            <span class="small-text">**4291 - Exp: 12/27</span>
                        </div>
                    </div>
                    <div>
                        <button class="btn ps-3 pe-3 pt-2 pb-2">Active Card</button>
                    </div>
                </div>
                <div class="d-flex align-items-center gap-2 mb-3 text-text more">More Card<i
                        class='bx bx-right-arrow-alt'></i></div>
                <!-- <hr>
                <div class="d-flex align-items-center justify-content-between">
                    <button class="btn ps-5 pe-5">Pay Debit</button>
                    <button class="btn ps-5 pe-5 btn-outline">Cancel</button>
                </div> -->


            </div>
        </div>
    </div>
</div>
<!-- <div class="main-inner">
    <div class="d-flex flex-wrap align-items-center justify-content-between gap-3 mb-8">
        <div>
            <h2 class="mb-0">Accounts</h2>
        </div>
        <div> <button class="btn mt-2 mb-3"><i class='bx bx-add-to-queue'></i> Open an Account</button></div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="box p-3">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                        <div class="bg">
                            <div class="overflow height-7">
                                <div class="ps-3 pe-3 py-2 border-b">
                                    <h2>Your Accounts Details :</h2>
                                    <div class="alert alert-warning mt-3 text-sm-1 d-flex align-items-center justify-content-start" role="alert">
                                        <div class="me-3 icon-size-error"><i class='bx bxs-error-circle'></i></div>
                                        <div>Client pays directly to you. Select client's country</div>
                                      </div>
                                </div>
                              
                                <div class=" ps-3 pe-3 py-2 border-b bg-white">
                                    <div class="d-flex flex-row align-items-center justify-content-between w-100 cursor">
                                        <div class="d-flex align-items-center justify-content-start">
                                            <div class=" flag-icon bg-green rounded-circle d-flex align-items-center justify-content-center">
                                                <img src="assets/images/United-States-America.png">
                                            </div>
                                        <div class="ms-3 labelsmall">United States of America</div>
                                        </div>
                                        <div class="icon-size"><i class='bx bx-chevron-right'></i></div>
                                    </div>
                                </div>
                                <div class=" ps-3 pe-3 py-2 border-b">
                                    <div class="d-flex flex-row align-items-center justify-content-between w-100 cursor">
                                        <div class="d-flex align-items-center justify-content-start">
                                            <div class=" flag-icon rounded-circle d-flex align-items-center justify-content-center">
                                                <img src="assets/images/uk.png">  
                                            </div>
                                        <div class="ms-3 labelsmall">UK</div>
                                        </div>
                                    </div>
                                </div>
                                <div class=" ps-3 pe-3 py-2 border-b">
                                    <div class="d-flex flex-row align-items-center justify-content-between w-100 cursor">
                                        <div class="d-flex align-items-center justify-content-start">
                                            <div class=" flag-icon rounded-circle d-flex align-items-center justify-content-center">
                                                <img src="assets/images/Europe.png">
                                            </div>
                                        <div class="ms-3 labelsmall">Europe</div>
                                        </div>
                                    </div>
                                </div>
                                <div class=" ps-3 pe-3 py-2 border-b">
                                    <div class="d-flex flex-row align-items-center justify-content-between w-100 cursor">
                                        <div class="d-flex align-items-center justify-content-start">
                                            <div class=" flag-icon rounded-circle d-flex align-items-center justify-content-center">
                                                <img src="assets/images/Canada.png">
                                            </div>
                                        <div class="ms-3 labelsmall">Canada</div>
                                        </div>
                                    </div>
                                </div>
                                <div class=" ps-3 pe-3 py-2 border-b">
                                    <div class="d-flex flex-row align-items-center justify-content-between w-100 cursor">
                                        <div class="d-flex align-items-center justify-content-start">
                                            <div class=" flag-icon rounded-circle d-flex align-items-center justify-content-center">
                                                <img src="assets/images/Australia.png">
                                            </div>
                                        <div class="ms-3 labelsmall">Australia</div>
                                        </div>
                                    </div>
                                </div>
                                <div class=" ps-3 pe-3 py-2 border-b">
                                    <div class="d-flex flex-row align-items-center justify-content-between w-100 cursor">
                                        <div class="d-flex align-items-center justify-content-start">
                                            <div class=" flag-icon rounded-circle d-flex align-items-center justify-content-center">
                                                <img src="assets/images/Singapore.png">
                                            </div>
                                        <div class="ms-3 labelsmall">Singapore</div>
                                        </div>
                                    </div>
                                </div>
                                <div class=" ps-3 pe-3 py-2 border-b">
                                    <div class="d-flex flex-row align-items-center justify-content-between w-100 cursor">
                                        <div class="d-flex align-items-center justify-content-start">
                                            <div class=" flag-icon rounded-circle d-flex align-items-center justify-content-center">
                                                <img src="assets/images/world-globe.png">
                                            </div>
                                        <div class="ms-3 labelsmall">Rest of the world</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="w-100 px-5 text-center text-sm pb-4">
                                <button class="btn mt-2 mb-3">Request for more accounts!</button>
                                <p>Your
                                    client will see the right international account based on their location</p></div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-12">
                        <div>
                            <div class="flex-row d-flex bor rounded-lg accounts mb-3">
                                <div class="d-flex flex-column py-8 bg width-45">
                                    <div class="position-relative">
                                        <svg width="248" height="43" viewBox="0 0 248 43" fill="none" class="-ml-[1px]">
                                            <path d="M0 0L248 0L236.572 16L248 32H0V0Z" fill="#20b757"></path>
                                            <path d="M0 0H228L216.572 16L228 32H0V0Z" fill="#20b757"></path>
                                            <path d="M23 0H55V43L39 33.5L23 43V0Z" fill="#189b48"></path>
                                            <g clip-path="url(#clip0_819_12762)">
                                                <path
                                                    d="M39.0002 10.3333L41.0602 14.5066L45.6668 15.1799L42.3335 18.4266L43.1202 23.0133L39.0002 20.8466L34.8802 23.0133L35.6668 18.4266L32.3335 15.1799L36.9402 14.5066L39.0002 10.3333Z"
                                                    fill="white" stroke="white" stroke-width="2" stroke-linecap="round"
                                                    stroke-linejoin="round"></path>
                                            </g>
                                            <defs>
                                                <clipPath id="clip0_819_12762">
                                                    <rect width="16" height="16" fill="white"
                                                        transform="translate(31 9)">
                                                    </rect>
                                                </clipPath>
                                            </defs>
                                        </svg>
                                        <div class="position-absolute top-text">EUR Account</div>
                                    </div>
                                    <div class="d-flex justify-content-between flex-column ps-4 pe-4 mt-3">
                                        <div class="d-flex flex-column">
                                            <h3 class="mb-3">Your EUR Account Details :</h3>
                                            <div
                                                class="d-flex flex-row mb-1 align-items-center justify-content-start points">
                                                <i class='bx bx-check-circle me-2'></i>Client pays via local payment
                                                method
                                            </div>
                                            <div
                                                class="d-flex flex-row mb-1 align-items-center justify-content-start points">
                                                <i class='bx bx-check-circle me-2'></i>Receive invoices instantly
                                            </div>
                                            <div
                                                class="d-flex flex-row mb-1 align-items-center justify-content-start points">
                                                <i class='bx bx-check-circle me-2'></i>No additional fee
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-start flex-row points mt-5">
                                            <i class='bx bx-error-circle me-2 text-warning'></i> This account only
                                            accepts
                                            EUR
                                        </div>
                                    </div>
                                </div>
                                <div class="p-4 position-relative d-flex flex-column">
                                    <div class="grid grid-cols-3 gap-y-6 gap-x-6">
                                        <div class="d-flex flex-col">
                                            <div>
                                                <div class="small-text mb-1">Payment method</div>
                                                <div class="text-text">ACH or Fedwire</div>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-col">
                                            <div>
                                                <div class="small-text mb-1">IBAN number</div>
                                                <div class="text-text">LT573670000000009859</div>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-col">
                                            <div>
                                                <div class="small-text mb-1">BBAN number</div>
                                                <div class="text-text">3670000000009859</div>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-col">
                                            <div>
                                                <div class="small-text mb-1">Bank Identifier</div>
                                                <div class="text-text">UAPL</div>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-col">
                                            <div>
                                                <div class="small-text mb-1">Account type</div>
                                                <div class="text-text">Business checking account</div>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-col">
                                            <div>
                                                <div class="small-text mb-1">Bank name</div>
                                                <div class="text-text">Community Federal Savings Bank</div>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-col">
                                            <div>
                                                <div class="small-text mb-1">Beneficiary address</div>
                                                <div class="text-text">810 Seventh Avenue, New York, NY 10019, US</div>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-col">
                                            <div>
                                                <div class="small-text mb-1">Account holder name</div>
                                                <div class="text-text">MARKETWICK PRIVATE LIMITED</div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="w-100 d-flex flex-row mt-4 justify-content-end">
                                        <button class="btn"><i class='bx bx-copy-alt'></i> Copy account details</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex-row d-flex bor rounded-lg accounts mb-3">
                            <div class="d-flex flex-column py-8 bg width-45">
                                <div class="d-flex justify-content-between flex-column ps-4 pe-4 mt-3">
                                    <div class="d-flex flex-column">
                                        <h3 class="mb-3">International SWIFT account</h3>
                                        <div
                                            class="d-flex flex-row mb-1 align-items-center justify-content-start points">
                                            <i class='bx bx-check-circle me-2'></i>Client pays via local payment
                                            method
                                        </div>
                                        <div
                                            class="d-flex flex-row mb-1 align-items-center justify-content-start points">
                                            <i class='bx bx-check-circle me-2'></i>Receive invoices instantly
                                        </div>
                                        <div
                                            class="d-flex flex-row mb-1 align-items-center justify-content-start points">
                                            <i class='bx bx-check-circle me-2'></i>No additional fee
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-start flex-row points mt-5">
                                        <i class='bx bx-error-circle me-2 text-warning'></i> This account only
                                        accepts
                                        EUR
                                    </div>
                                </div>
                            </div>
                            <div class="p-4 position-relative d-flex flex-column">
                                <div class="grid grid-cols-3 gap-y-6 gap-x-6">
                                    <div class="d-flex flex-col">
                                        <div>
                                            <div class="small-text mb-1">Payment method</div>
                                            <div class="text-text">ACH or Fedwire</div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-col">
                                        <div>
                                            <div class="small-text mb-1">IBAN number</div>
                                            <div class="text-text">LT573670000000009859</div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-col">
                                        <div>
                                            <div class="small-text mb-1">BBAN number</div>
                                            <div class="text-text">3670000000009859</div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-col">
                                        <div>
                                            <div class="small-text mb-1">Bank Identifier</div>
                                            <div class="text-text">UAPL</div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-col">
                                        <div>
                                            <div class="small-text mb-1">Account type</div>
                                            <div class="text-text">Business checking account</div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-col">
                                        <div>
                                            <div class="small-text mb-1">Bank name</div>
                                            <div class="text-text">Community Federal Savings Bank</div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-col">
                                        <div>
                                            <div class="small-text mb-1">Beneficiary address</div>
                                            <div class="text-text">810 Seventh Avenue, New York, NY 10019, US</div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-col">
                                        <div>
                                            <div class="small-text mb-1">Account holder name</div>
                                            <div class="text-text">MARKETWICK PRIVATE LIMITED</div>
                                        </div>
                                    </div>

                                </div>
                                <div class="w-100 d-flex flex-row mt-4 justify-content-end">
                                    <button class="btn"><i class='bx bx-copy-alt'></i> Copy account details</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->