a,
a:hover {
  text-decoration: none;
}

.mt-7 {
  margin-top: 1.75rem;
}

.mt-8 {
  margin-top: 2rem;
}

.pb-10 {
  padding-bottom: 2.5rem;
}

.max-w {
  width: 1416px;
}

.p-8 {
  padding: 2rem;
}

.p-6 {
  padding: 1.5rem;
}

.py-3 {
  padding-top: .75rem !important;
  padding-bottom: .75rem !important;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.box {
  border-radius: .75rem;
  border-start-end-radius: 0rem;
  border-start-start-radius: 0rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-shadow: 0px 6px 40px 0px rgba(0, 0, 0, .02);
  --tw-shadow-colored: 0px 6px 40px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.file-uploader {
  width: 100%;
  background: #f6fbf6;
  border: 2px dashed rgba(32, 183, 87);
  border-radius: 1.5rem;
  transition: 0.22s ease;
  position: relative;
  font-weight: 500;
}

.file-uploader .primary-icon {
  transition: 0.2s ease;
}

.file-uploader:hover {
  background: rgba(32, 183, 87, 0.1019607843);
  border: 2px dashed rgba(32, 183, 87);
  cursor: pointer;
}

.file-uploader:hover .primary-icon {
  color: rgb(32, 183, 87);
}

.file-uploader .drop-cta {
  display: none;
}

.file-uploader .downloading-icon {
  position: absolute;
  color: rgb(32, 183, 87);
  top: -50%;
  opacity: 0;
}

.file-uploader.is-dragover {
  border-color: rgb(32, 183, 87);
  background: #E6F9F6;
  border-style: solid;
}

.file-uploader.is-dragover * {
  pointer-events: none;
}

.file-uploader.is-dragover .file-upload-instructions {
  display: none;
}

.file-uploader.is-dragover .drop-cta {
  display: block;
}

.file-uploader.is-dragover .primary-icon {
  color: rgba(10, 198, 166, 0.16);
  transition: 0.22s ease;
}

.file-uploader.is-dragover .downloading-icon {
  animation: fadeInOutSlideInOut 1s ease infinite;
}

.file-uploader.is-dragover.is-wrong-filetype {
  border-color: #d90429;
  background: rgba(217, 4, 41, 0.08);
}

.file-uploader.is-dragover.is-wrong-filetype .primary-icon {
  color: rgba(217, 4, 41, 0.1);
}

.file-uploader.is-dragover.is-wrong-filetype .downloading-icon {
  display: none;
}

.file-uploader.is-dragover.is-wrong-filetype .text-danger {
  animation: fadeInGrow 0.4s ease;
  font-size: 1.5rem;
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 1;
  transform: translate(-0.75rem, -0.75rem);
}

.file-uploader.is-dragover.is-wrong-filetype .drop-cta {
  color: #d90429;
}

.file-uploader .icon-container {
  color: #dee2e6;
  width: 64px;
  height: 64px;
  text-align: center;
  display: block;
  transition: 0.22s ease;
  position: relative;
}

.file-uploader .file-uploader-body,
.file-uploader .file-uploader-footer {
  color: #222e48;
  font-size: 14px;
}

.file-uploader .file-uploader-body p,
.file-uploader .file-uploader-footer p {
  margin: 0;
}

.file-uploader .file-uploader-body a {
  color: rgb(32, 183, 87);
  text-decoration: underline;
}

@media (hover: none) {
  .hide-non-touch {
    display: none;
  }
}

@keyframes fadeInOutSlideInOut {

  10%,
  90% {
    opacity: 1;
    top: 5%;
  }

  100% {
    top: 50%;
  }
}

@keyframes fadeInGrow {
  0% {
    transform: translate(-0.75rem, -0.75rem) scale(0.5);
    opacity: 0;
  }

  100% {
    transform: translate(-0.75rem, -0.75rem) scale(1);
    opacity: 1;
  }
}

.file-uploader-icon {
  font-size: 42px;
  color: rgb(32, 183, 87);
}

small {
  color: #8E9299;
  font-size: 0.875em;
}

.preview {
  color: #222e48;
  background: rgba(32, 183, 87, 0.1019607843);
    border: 2px dashed rgb(32, 183, 87);
  transition: all 1s;
  padding: 0.75rem 0.5rem;
  border-radius: 1.5rem;
  cursor: pointer;
}

.preview .icon {
  font-size: 40px;
  line-height: 1;
}

label {
  font-size: 1rem;
  line-height: 1.75rem;
  display: block;
  font-weight: 600;
  color: #222e48;
}

input {
  background-color: #f5faf5;
  border: 1px solid rgb(235 236 239);
  border-radius: 1.5rem;
  font-size: 14px;
  color: #222e48;
}

input:focus {
  outline-color: rgb(32, 183, 87);
}

.input-icon {
  top: 12px;
  font-size: 1.5rem;
  line-height: 1.5rem;
  right: 1.25rem;
  cursor: pointer;
  // color: rgb(32, 183, 87);
}

.phone-no {
  left: 1.5rem;
  top: 13px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(32, 183, 87);
  border-right: 1px solid rgb(32, 183, 87);
  padding-right: 0.5rem;

}

hr {
  border-top: 1px dashed rgba(32, 183, 87, 0.9019607843);
}

.btn {
  display: inline-flex;
  align-items: center;
  gap: .5rem;
  border-radius: 32px;
  border-width: 1px;
  border-color: rgb(32, 183, 87);
  background-color: rgb(32, 183, 87);
  padding: .375rem .75rem;
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: rgb(255 255 255);
  transition-duration: .3s
}

.btn:hover {
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgb(32 183 87 / var(--tw-text-opacity))
}

.btn {
  padding: .625rem 2rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}

.btn i {
  font-size: 20px;
}

.header {
  background-color: rgb(32, 183, 87);
  padding: 10px 20px;
  border-start-end-radius: 0.75rem;
  border-start-start-radius: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #fff;
  font-weight: 600;
}

.progress {
  height: 0.5rem;
  font-size: .75rem;
  border-radius: .25rem;
}
.file-name{
  display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    line-height: 0;
    letter-spacing: 1.5px;
}
.bx-x{
  font-size: 20px;
  font-weight: 900;
}
.wid-10{
  width: 10%;
}
.wid-90{
  width: 88%;
}