<aside class="sidebar sidebarshow">
    <div class="sidebar-inner position-relative">
        <div class="logo-column">
            <div class="logo-container">
                <div class="d-flex align-items-center justify-content-around">
                    <img src="assets/images/logo.png" class="img-fluid">
                </div>
            </div>
            <div class="menu-container pb-28">
                <div class="menu-wrapper">
                    <p class="menu-heading">Navigation</p>
                    <ul class="menu-ul ps-0">
                        <li class="menu-li">
                            <button class="active menu-btn border-0">
                                <span class="d-flex align-items-center justify-content-center text-16 gap-2">
                                    <i class='bx bx-store icon' ></i>
                                    <span>Banking</span>
                                </span>
                                <span class="d-flex align-items-center justify-content-center"><i class='bx bx-minus icon'></i></span>
                            </button>
                            <ul class="submenu submenu-show">
                                <li class="submenu-link router-link-exact-active"><i class='bx bx-minus'></i>Dashboard </li>
                                <li class="submenu-link"><i class='bx bx-minus'></i>Accounts  </li>
                            </ul>
                        </li>
                        <li class="menu-li">
                            <button class="menu-btn border-0">
                                <span class="d-flex align-items-center justify-content-center text-16 gap-2">
                                    <i class='bx bx-coin-stack icon'></i>
                                    <span>Transfer</span>
                                </span>
                                <span class="d-flex align-items-center justify-content-center"><i class='bx bx-plus icon'></i></span>
                            </button>
                            <ul class="submenu submenu-hide">
                                <li class="submenu-link router-link-exact-active"><i class='bx bx-minus'></i>Funds Transfer </li>
                                <li class="submenu-link"><i class='bx bx-minus'></i>Manage Payee</li>
                            </ul>
                        </li>
                        <li class="menu-li">
                            <button class="menu-btn border-0">
                                <span class="d-flex align-items-center justify-content-center text-16 gap-2">
                                    <i class='bx bx-file icon'></i>
                                    <span>Statements</span>
                                </span>
                                <span class="d-flex align-items-center justify-content-center"><i class='bx bx-plus icon'></i></span>
                            </button>
                            <ul class="submenu submenu-hide">
                                <li class="submenu-link router-link-exact-active"><i class='bx bx-minus'></i>Statements </li>
                            </ul>
                        </li>
                    </ul>
                    <p class="menu-heading">Add Account</p>
                    <img src="assets/images/add-accounts.png" class="img-fluid">
                    <button class="btn px-5 mt-4"><i class='bx bx-add-to-queue'></i>Add Account</button>
                </div>
            </div>
        </div>
    </div>
</aside>
