<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
       <div class="header">Please upload any of your utility bill</div>
    </div>
 </div>
 <div class="box p-6">
    <div class="container">
       <div class="row mt-3">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mx-auto">
             <section class="text-center">
                <div class="file-uploader px-2 py-3">
                   <div class="icon-container mb-2 mx-auto d-flex justify-content-center align-items-center">
                      <span class="fa-stack fa-lg">
                         <span class="primary-icon bx bx-file file-uploader-icon"></span>
                      </span>
                   </div>
                   <div class="file-uploader-body mb-0">
                      <p class="file-upload-instructions"><a href="">Browse of Utility Bill</a><br> <span
                            class="hide-non-touch"> Please upload any of your utility bill Image</span></p>
                   </div>
                   <div class="file-uploader-footer">
                      <p><small>File Supports: JPG, JPEG, PNG, PDF max-size 2MB</small></p>
                   </div>
                   <button class="btn px-5 mt-3"><i class='bx bx-cloud-upload'></i>Upload</button>
                </div>
             </section>
             <section>
                <div class="preview mt-4">
                   <div class="row">
                      <div class="col-2 wid-10">
                         <div class="icon"><i class='bx bx-file'></i></div>
                      </div>
                      <div class="col-10 wid-90">
                         <div class="file-name mb-2">
                            <div>lorem_ipsum.pdf</div>
                            <div><i class='bx bx-x'></i></div>
                         </div>
                         <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated"
                               role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                               style="width: 75%"></div>
                         </div>
                      </div>
                   </div>
                </div>
             </section>
          </div>
          
       </div>
   
       <hr class="mt-4">
       <div class="d-flex align-items-center justify-content-center"><button class="btn px-5 mt-3">Next Step<i
                class='bx bx-log-in'></i></button></div>
    </div>
 </div>