.py-6 {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}
.duration-300 {
    transition-duration: .3s;
}
.bg {
    background-color: rgb(255 255 255);
}
.topbarfull {
    width: 100%;
}
.border-b {
    border-bottom-width: 1px;
}
.z-20 {
    z-index: 20;
}
.shrink-0 {
    flex-shrink: 0;
}
.cursor-pointer {
    cursor: pointer;
}
.w-12 {
    width: 3rem;
}