<nav class=" bg navbar-top shadow-sm duration-300 border-b z-20 py-6 topbarmargin topbarfull">
    <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex gap-4 grow">
            <button
                class="d-flex align-items-center rounded-s-2xl bg-primary px-0.5 py-3 text-xl text-white border-0"><i
                    class='bx bx-chevron-left text-lg'></i></button>
        </div>
        <div class="d-flex align-items-center gap-4 grow">
            <div class="position-relative shrink-0">
                <button
                    class="position-relative w-12 h-12 notification-btn rounded-full"><i class='bx bx-bell text-lg'></i>
                    <span class="position-absolute d-flex align-items-center justify-content-center bg-primary rounded-full w-5 h-5 top-1 right-1 text-xs text-white">
                        2 </span></button>
                <div
                    class="position-absolute hide duration-300 bg shadow rounded-md z-20 top-full origin-top-right right-0">
                    <div class="d-flex align-items-center justify-content-center flex-column p-4 border-b">
                        <img src="assets/images/user-big-4.png" width="60" height="60" class="rounded-full"
                            alt="profile img">
                        <h6 class="h6 mt-2 mb-0">William James</h6>
                        <span class="text-sm">james@mail.com</span>
                    </div>
                    <ul class="d-flex flex-column w-250 p-4">
                        <li class="duration-300 d-flex align-items-center gap-2 rounded-md px-2 py-1">
                            <span><i class='bx bx-user text-xl'></i></span> Profile
                        </li>
                        <li class="duration-300 d-flex align-items-center gap-2 rounded-md px-2 py-1">
                            <span><i class='bx bx-log-out text-xl'></i></span> Logout
                        </li>

                    </ul>
                </div>

            </div>
            <div class="position-relative shrink-0">
                <div class="rounded-circle w-12 cursor-pointer">
                    <img src="assets/images/user-big-4.png" width="48" height="48" class="rounded-circle"
                        alt="profile img">
                </div>
                <div
                    class="position-absolute hide duration-300 bg shadow rounded-md z-20 top-full origin-top-right right-0">
                    <div class="d-flex align-items-center justify-content-center flex-column p-4 border-b">
                        <img src="assets/images/user-big-4.png" width="60" height="60" class="rounded-full"
                            alt="profile img">
                        <h6 class="h6 mt-2 mb-0">William James</h6>
                        <span class="text-sm">james@mail.com</span>
                    </div>
                    <ul class="d-flex flex-column w-250 p-4">
                        <li class="duration-300 d-flex align-items-center gap-2 rounded-md px-2 py-1">
                            <span><i class='bx bx-user text-xl'></i></span> Profile
                        </li>
                        <li class="duration-300 d-flex align-items-center gap-2 rounded-md px-2 py-1">
                            <span><i class='bx bx-log-out text-xl'></i></span> Logout
                        </li>

                    </ul>
                </div>

            </div>

        </div>
    </div>
</nav>