<div class="position-relative min-h-screen">
    <div><img src="assets/images/ellipse1.png" class="position-absolute img-fluid position-top position-right"></div>
    <div><img src="assets/images/ellipse2.png" class="position-absolute img-fluid position-bottom position-left"></div>
    <a href="#"><img src="assets/images/logo.png" class="img-fluid z-2 position-relative p-8" alt="logo"></a>
    <div class="d-flex justify-content-center align-items-center mt-7">
        <div class="position-relative pb-10 px-3 z-2 max-w">
            <div class="box shadow p-6">
                <div class="row">
                    <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
                        <form class="form-bg-color border">

                            <div class="login-heading-text">
                                <h3 class="h3 mb-2">Let's Get Started!</h3>
                                <p class="bb-dashed mb-3 pb-3">Please Enter your Email Address to Start your Online
                                    Application</p>
                            </div>
                            <div class="main-container">
                                <div class="radio-buttons d-flex align-items-center justify-content-center">
                                    <label class="custom-radio me-4 mt-3">
                                        <input type="radio" name="userType" checked formControlName="userType"
                                            [value]="'individual'">
                                        <span class="radio-btn"><i class='bx bxs-check-circle'></i>
                                            <div class="hobbies-icon">
                                                <img src="assets/images/individual.png" width="35"
                                                    class="img-fluid me-2">
                                                <label>As Individual </label>
                                            </div>
                                        </span>
                                    </label>
                                    <label class="custom-radio mt-3">
                                        <input type="radio" name="userType" formControlName="userType"
                                            [value]="'corporate'">
                                        <span class="radio-btn"><i class='bx bxs-check-circle'></i>
                                            <div class="hobbies-icon">
                                                <img src="assets/images/corporate.png" width="35"
                                                    class="img-fluid me-2">
                                                <label> As Corporate</label>
                                            </div>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                    <label for="email" class="mb-2">First Name</label>
                                    <input class="text-sm py-3 px-6 w-100 mb-2" type="text" placeholder="Jhon"
                                        id="name">
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                    <label for="email" class="mb-2">Last Name</label>
                                    <input class="text-sm py-3 px-6 w-100 mb-2" type="text" placeholder="Doe" id="name">
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                    <label for="email" class="mb-2">Country</label>
                                    <input class="text-sm py-3 px-6 w-100 mb-2" type="text" placeholder="India"
                                        id="country">
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                    <label for="email" class="mb-2">Phone Number</label>
                                    <div class="position-relative">
                                        <input class="text-sm py-3 px-6 px-7 w-100 mb-2" type="text"
                                            placeholder="9999999999" id="name">
                                        <span class="position-absolute phone-no">+91</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <label for="email" class="mb-2">Email</label>
                                    <input class="text-sm py-3 px-6 w-100 mb-2" type="email"
                                        placeholder="jhon.deo@gmail.com" id="country">
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-start mt-4">
                                <input type="checkbox" value="yes"> <label>
                                    <p class="mt-3"> By clicking submit, you agree to <a href="" class="text-primary">
                                            Terms of Use</a>, <a href="" class="text-primary"> Privacy Policy</a>, <a
                                            href="" class="text-primary"> Communication Authorization</a>.</p>
                                </label>
                            </div>
                            <button class="btn px-5 mt-8">Sign Up<i class='bx bx-log-in'></i></button>
                        </form>
                    </div>
                    <div
                        class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12 d-flex align-items-center justify-content-center">
                        <img src="assets/images/sign-up.png" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>