<form class="form-bg-color border">
    <div class="login-heading-text">
        <h3 class="h3 mb-0">Beneficiary Address!</h3>
        <p class="bb-dashed mb-4 pb-3">The beneficiary address should include the full address of the place of business or, if an individual, their residential address.
        </p>
    </div>
    
    <div class="min-height">
        <div class="mt-4"></div>
        <fieldset>
            <legend>Address Info:</legend>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div>
                        <label for="email" class="mb-2 mt-2">House Name/Number <span
                                class="text-danger">*</span></label>
                        <textarea class="w-100 mb-2 py-3 px-6"
                            placeholder="Akshya Nagar 1st Block 1st Cross, Rammurthy nagar, Bangalore-560016"
                            rows="6"></textarea>

                        <!---->
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <label for="email" class="mb-2 mt-2">City <span class="text-danger">*</span></label>
                    <input class="text-sm py-3 px-6 w-100 mb-3" type="email" placeholder="Bangalore"
                        id="firstname">
                    <label for="email" class="mb-2 mt-2">State/Province <span
                            class="text-danger">*</span></label>
                    <input class="text-sm py-3 px-6 w-100 mb-2" type="email" placeholder="Bangalore"
                        id="firstname">
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div>
                        <label for="email" class="mb-2 mt-2">Zip/Postal Code  <span
                                class="text-danger">*</span></label>
                        <input class="text-sm py-3 px-6 w-100 mb-2" type="email" placeholder="560016"
                            id="firstname">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <label for="email" class="mb-2 mt-2">Country<span
                            class="text-danger">*</span></label>
                    <select class="text-sm py-3 px-6 w-100 mb-2">
                        <option selected>India</option>
                    </select>
                </div>
            </div>
        </fieldset>
        <div class="d-flex align-items-center justify-content-center mt-4 gap-3">
            <button type="submit" class="btn">Proceeds to open a account </button>
            <button type="submit" class="btn btn-outline">Cancel</button>
        </div>
    </div>
</form>

