.footer {
    transition-duration: .3s;
}
.bg{
    background-color: rgb(255 255 255);
}
.py-6 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}
.px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #404a60;
}