<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="header">Please do your e-sign</div>
    </div>
</div>
<div class="box p-6">
    <div class="container">
        <div class="row mt-3">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mx-auto">
                <div class="login-heading-text">
                    <h3 class="h3 mb-2">e-sign</h3>
                    <p class="bb-dashed mb-3 ">By clicking this checkbox and the eSign button, I voluntarily agree to
                        ESign the previewed document. I also agree to be redirected to an eSign Service Provider for
                        carrying out an e-authentication using Aadhaar e-KYC services for issuance of a Digital
                        Signature Certificate. I agree to accept such Certificate for its affixation to the previewed
                        document.</p>
                </div>
                <hr class="mt-0">
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mx-auto">
            <div class="d-flex align-items-center justify-content-center">
                <button class="btn btn-outline px-5 mt-3 me-3">Clear<i class='bx bx-x'></i></button>
                    <button class="btn px-5 mt-3">Save<i class='bx bx-save' ></i></button>
            </div>
            <div class="d-flex align-items-center justify-content-between mt-4 mb-3">
                <div class="d-flex align-items-center justify-content-start">
                    <input type="checkbox" value="yes">
                    <label>
                        <p class="mb-0 fw-normal"><span class="text-danger">*</span> Yes, I agree that all above details
                            are correct.</p>
                    </label>
                </div>
            </div>
        </div>
        <hr class="mt-4">
        <div class="d-flex align-items-center justify-content-center"><button class="btn px-5 mt-3">Next Step<i
                    class='bx bx-log-in'></i></button></div>
    </div>
</div>