<div class="main-inner">
    <div class="d-flex flex-wrap align-items-center justify-content-between gap-3 mb-8">
        <div>
            <h2 class="mb-0">Open An Account</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
            <div class="box p-3">
                <form class="form-bg-color border">
                    <div class="login-heading-text">
                        <h3 class="h3 mb-2">Signup for Bank Account Process!</h3>
                        <p class="bb-dashed mb-4 pb-3">Easily open your account online with a quick and simple process
                        </p>
                    </div>
                    <div class="min-height">
                        <div class="mt-4"></div>
                        <fieldset>
                            <legend>Personal Info:</legend>
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                                    <div>
                                        <label for="email" class="mb-3 mt-3">First Name <span
                                                class="text-danger">*</span></label>
                                        <input class="text-sm py-3 px-6 w-100 mb-2" type="email" placeholder="john"
                                            id="firstname">
                                        <!---->
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                                    <div>
                                        <label for="email" class="mb-3 mt-3">Last Name <span
                                                class="text-danger">*</span></label>
                                        <input class="text-sm py-3 px-6 w-100 mb-2" type="email" placeholder="Deo"
                                            id="firstname">
                                        <!---->
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                                    <div>
                                        <label for="email" class="mb-3 mt-3">Date of Brith <span
                                                class="text-danger">*</span></label>
                                        <input class="text-sm py-3 px-6 w-100 mb-2" type="date" placeholder="Deo"
                                            id="date">
                                        <!---->
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="mt-5"></div>
                        <fieldset>
                            <legend>Contact Info:</legend>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                    <div>
                                        <label for="email" class="mb-3 mt-3">Email Id <span
                                                class="text-danger">*</span></label>
                                        <input class="text-sm py-3 px-6 w-100 mb-2" type="email"
                                            placeholder="jhon.deo@gmail.com" id="firstname">
                                        <!---->
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                    <label for="email" class="mb-3 mt-3">Phone Number <span
                                            class="text-danger">*</span></label>
                                    <div class="position-relative">
                                        <input class="text-sm py-3 px-6 px-7 w-100 mb-2" type="text"
                                            placeholder="9999999999" id="name">
                                        <span class="position-absolute phone-no">+91</span>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="mt-5"></div>
                        <fieldset>
                            <legend>Address Info:</legend>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                    <div>
                                        <label for="email" class="mb-3 mt-3">Address <span
                                                class="text-danger">*</span></label>
                                        <textarea class="w-100 mb-2 py-3 px-6"
                                            placeholder="Akshya Nagar 1st Block 1st Cross, Rammurthy nagar, Bangalore-560016"
                                            rows="6"></textarea>

                                        <!---->
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                    <label for="email" class="mb-2 mt-3">City <span class="text-danger">*</span></label>
                                    <input class="text-sm py-3 px-6 w-100 mb-3" type="email" placeholder="Bangalore"
                                        id="firstname">
                                    <label for="email" class="mb-3 mt-2">State <span
                                            class="text-danger">*</span></label>
                                    <input class="text-sm py-3 px-6 w-100 mb-2" type="email" placeholder="Bangalore"
                                        id="firstname">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                    <div>
                                        <label for="email" class="mb-2 mt-2">Zip Code <span
                                                class="text-danger">*</span></label>
                                        <input class="text-sm py-3 px-6 w-100 mb-2" type="email" placeholder="560016"
                                            id="firstname">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                    <label for="email" class="mb-2 mt-2">Country <span
                                            class="text-danger">*</span></label>
                                    <select class="text-sm py-3 px-6 w-100 mb-2">
                                        <option selected>India</option>
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                        <div class="mt-5"></div>
                        <fieldset>
                            <legend>Nationality Info:</legend>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div>
                                        <label for="email" class="mb-3 mt-3">Nationality <span
                                                class="text-danger">*</span></label>
                                        <select class="text-sm py-3 px-6 w-100 mb-2">
                                            <option selected>India</option>
                                        </select>
                                        <!-- <input class="text-sm py-3 px-6 w-100 mb-2" type="email" placeholder="India"
                                        id="firstname"> -->
                                        <!---->
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="d-flex align-items-center justify-content-center mt-4 gap-3">
                            <button type="submit" class="btn">Proceeds to open a account </button>
                            <button type="submit" class="btn btn-outline">Cancel</button>
    
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
            <div class="box p-3">
                <img src="assets/images/open-an-account.png" class="img-fluid">
                <h4 class="p-3 pb-0">Multi-Currency<br>
                account <span>with endless
                    accounts</span>
                </h4>
                <p class="ps-3">Easily open your account online with a quick
                    and simple process.</p>
            </div>
        </div>
    </div>
</div>